{% block content %} 
  <div class="row">
    <div class="small-12 columns">
      <div class="panel">
        <h1>[masthead]</h1>
      </div> <!-- /.panel -->
    </div> <!-- /.small-12 -->
  </div> <!-- /.row -->

  <div class="row">
    <div class="small-12 columns">
      <div class="panel">
        [navigation]
      </div> <!-- /.panel -->
    </div> <!-- /.small-12 -->
  </div> <!-- /.row -->

  <div class="row">
    <div class="small-12 medium-6 large-8 columns">
      <div class="panel">
        <h2>[content column]</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a est dui. Nullam vitae metus porta, sagittis nulla at, consequat ligula. Donec quam ipsum, pulvinar nec augue at, aliquam aliquam lorem. Nunc feugiat ipsum quis dapibus pulvinar. Duis ultricies quam vitae magna ultrices, eu aliquet felis placerat. Ut tincidunt arcu ut pharetra porta. Mauris a semper elit.</p>

        <p>Sed id urna suscipit, pharetra felis sit amet, euismod lorem. Proin laoreet eleifend dolor quis placerat. In placerat hendrerit ligula tempor lobortis. Pellentesque ac viverra est, et tempor erat. Fusce laoreet massa a lectus vulputate, non feugiat magna feugiat. Nullam bibendum mi eget consequat porta. Cras euismod nibh a laoreet ultrices. Pellentesque tristique egestas metus nec facilisis. Morbi aliquam neque orci, et feugiat metus dictum quis. Nam quis pulvinar leo. Aenean accumsan magna ac tellus suscipit, ut scelerisque lectus sollicitudin. Nulla feugiat condimentum elit, at egestas libero malesuada sit amet. Morbi bibendum sapien vitae fermentum gravida. Vivamus dapibus ligula vel felis sollicitudin fermentum. Praesent non lorem ac erat malesuada condimentum. Morbi vitae dignissim nunc, vel tempor libero.</p>
      </div> <!-- /.panel -->
    </div> <!-- /.small-12 -->

    <div class="small-12 medium-6 large-4 columns">
      <div class="panel">
        <h2>[sidebar]</h2>
      </div> <!-- /.panel -->
    </div> <!-- /.small-12 -->
  </div>

  <div class="row">
    <div class="small-12 columns">
      <div class="panel">
        <h2>[footer]</h2>
      </div> <!-- /.panel -->
    </div> <!-- /.small-12 -->
  </div> <!-- /.row -->

  <div class="row">
    <div class="small-12 columns">
      <div class="panel">
        <div class="row">
          <div class="small-4 columns">
            <div class="label show-for-small-up">Small and up</div>
          </div>

          <div class="small-4 columns">
            <div class="label show-for-medium-up">Medium and up</div>
          </div>
          
          <div class="small-4 columns">
            <span class="label show-for-large-up">Large and up</span>
          </div>
        </div> <!-- /.row -->
      </div> <!-- /.panel -->
    </div> <!-- /.small-12 -->
  </div> <!-- /.row -->

{% endblock %}